h1 {
  color: black;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.description {
  max-width: 60%;
  font-size: 25px;
  margin: auto;
  color: black;
  margin-bottom: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background-color: #111;
  cursor: pointer;
}

#pageHeader {
  color: black;
  text-align: left;
}

.map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.menu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
